<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../global/head", {pageCss: 'home'}); %>

  <body>
    <%- include("../../partialViews/header"); %> <%-
    include("../../partialViews/navbar", {activeNavItem: 'Inicio'}); %>

    <!--noticias-->
    <% if(latestnews.length == 3){ %>
    <div class="container-fluid">
      <div
        class="row px-5 containerItem row mt-4 m-3 p-3 justify-content-center"
      >
        <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide p-5 ps-0"
          data-bs-ride="carousel"
        >
          <h5 class="text-center fw-bold">ÚLTIMAS NOTÍCIAS</h5>
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner fw-bold">
            <div class="carousel-item active" data-bs-interval="10000">
              <img
                src="/<%= latestnews[0].image %>"
                class="d-block w-100"
                alt="Notícia"
              />
              <div class="texto carousel-caption d-none d-md-block">
                <h5 style="font-size: 2em"><%= latestnews[0].title %></h5>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="/<%= latestnews[1].image %>"
                class="d-block w-100"
                alt="Notícia"
              />
              <div class="texto carousel-caption d-none d-md-block">
                <h5 style="font-size: 2em"><%= latestnews[1].title %></h5>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="/<%= latestnews[2].image %>"
                class="d-block w-100"
                alt="Notícia"
              />
              <div class="texto carousel-caption d-none d-md-block">
                <h5 style="font-size: 2em"><%= latestnews[2].title %></h5>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
          </button>
        </div>
      </div>
    </div>
    <% } %>

    <!--acesso, lrf, ouvidoria, esic-->
    <div class="container-fluid">
      <div class="containerItem row mt-4 m-3 p-3 justify-content-center">
        <!--sessão pdf-->
        <div id="cardGroupHome" class="card-group">
          <!-- transparencia -->
          <div class="card d-flex justi">
            <div class="card-body">
              <h5 class="card-title">Acesso a Informação</h5>
              <div class="homeDocumentosDivisor my-2"></div>

              <% for(var i=0; i < licitacoes.length; i++) {%>
              <div class="mb-2">
                <a href="/user/licitacao/<%=licitacoes[i].id%>">
                  <img src="/icons/filetype-pdf.svg" alt="" />
                  <%=licitacoes[i].ProcessNumber%>
                </a>
                <br />
              </div>
              <% } %>
            </div>
          </div>
          <!-- lrf -->
          <div class="card d-flex justi">
            <div class="card-body">
              <h5 class="card-title">Lei de Responsabilidade Fiscal</h5>
              <div class="homeDocumentosDivisor my-2"></div>

              <% for(var i=0; i < contratos.length; i++) {%>
              <div class="mb-2">
                <a href="/<%=contratos[i].path%>">
                  <img src="/icons/filetype-pdf.svg" alt="" />
                  <%=contratos[i].Numero%>
                </a>
                <br />
              </div>
              <% } %>
            </div>
          </div>
          <!-- ouvidoria -->
          <div class="card d-flex justi">
            <div class="card-body">
              <h5 class="card-title">Ouvidoria</h5>
              <div class="homeDocumentosDivisor my-2"></div>

              <% for(var i=0; i < contratos.length; i++) {%>
              <div class="mb-2">
                <a href="/<%=contratos[i].path%>">
                  <img src="/icons/filetype-pdf.svg" alt="" />
                  <%=contratos[i].Numero%>
                </a>
                <br />
              </div>
              <% } %>
            </div>
          </div>
          <!-- esic -->
          <div class="card d-flex justi">
            <div class="card-body">
              <h5 class="card-title">E-Sic</h5>
              <div class="homeDocumentosDivisor my-2"></div>

              <% for(var i=0; i < contratos.length; i++) {%>
              <div class="mb-2">
                <a href="/<%=contratos[i].path%>">
                  <img src="/icons/filetype-pdf.svg" alt="" />
                  <%=contratos[i].Numero%>
                </a>
                <br />
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--videos-->
    <div class="container-fluid">
      <div class="containerItem row mt-4 m-3 p-3 justify-content-center">
        <h3 class="d-flex justify-content-center mb-4">Últimos vídeos</h3>
        <% for(var i=0; i < videos.length; i++) {%>
        <div class="col-3">
          <div class="videoItem card">
            <a
              class="videosCard"
              href="https://www.youtube.com/watch?v=<%=videos[i].id.videoId%>"
              target="_blank"
            >
              <img
                src="<%=videos[i].snippet.thumbnails.medium.url%>"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title fw-bold"><%=videos[i].snippet.title%></h5>
              </div>
            </a>
          </div>
        </div>
        <% } %>
        <div class="d-flex justify-content-center mt-3">
          <a class="btn btn-primary" href="/videos">Ver todos os vídeos</a>
        </div>
      </div>
    </div>

    <!--licitações e contratos-->
    <div class="container-fluid">
      <div class="containerItem row mt-4 m-3 p-3 justify-content-center">
        <!--sessão pdf-->
        <div id="cardGroupHome" class="card-group">
          <!-- Licitações -->
          <div class="card d-flex justi">
            <div class="card-body">
              <h5 class="card-title">Licitações</h5>
              <div class="homeDocumentosDivisor my-2"></div>

              <% for(var i=0; i < licitacoes.length; i++) {%>
              <div class="mb-2">
                <a href="/user/licitacao/<%=licitacoes[i].id%>">
                  <img src="/icons/filetype-pdf.svg" alt="" />
                  <%=licitacoes[i].ProcessNumber%>
                </a>
                <br />
              </div>
              <% } %>
            </div>
          </div>
          <!-- Contratos -->
          <div class="card d-flex justi">
            <div class="card-body">
              <h5 class="card-title">Contratos</h5>
              <div class="homeDocumentosDivisor my-2"></div>

              <% for(var i=0; i < contratos.length; i++) {%>
              <div class="mb-2">
                <a href="/<%=contratos[i].path%>">
                  <img src="/icons/filetype-pdf.svg" alt="" />
                  <%=contratos[i].Numero%>
                </a>
                <br />
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--lrf e atas-->
    <div class="container-fluid">
      <div class="containerItem row mt-4 m-3 p-3 justify-content-center">
        <!--sessão pdf-->
        <div id="cardGroupHome" class="card-group">
          <!-- Lei de Resp. Fiscal  -->
          <div class="card d-flex">
            <div class="card-body border border-rounded-5">
              <h5 class="card-title">Lei de Resp. Fiscal</h5>
              <div class="homeDocumentosDivisor my-2"></div>

              <% for(var i=0; i < gestoesFiscais.length; i++) {%>
              <div class="mb-2">
                <a href="/<%=gestoesFiscais[i].path%>">
                  <img src="/icons/filetype-pdf.svg" alt="" />
                  <%=gestoesFiscais[i].nome%>
                </a>
                <br />
              </div>
              <% } %>
            </div>
          </div>
          <!-- publicações  -->
          <div class="card d-flex">
            <div class="card-body border border-rounded-5">
              <h5 class="card-title">Publicações</h5>
              <div class="homeDocumentosDivisor my-2"></div>

              <% for(var i=0; i < gestoesFiscais.length; i++) {%>
              <div class="mb-2">
                <a href="/<%=gestoesFiscais[i].path%>">
                  <img src="/icons/filetype-pdf.svg" alt="" />
                  <%=gestoesFiscais[i].nome%>
                </a>
                <br />
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--carrousel municipios-->
    <div class="container-fluid">
      <div class="containerItem row mt-4 m-3 p-3 justify-content-center">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card">
                <img
                  src="../../../uploads/Brasao_ararenda.png"
                  class="d-block w-100"
                  alt="ararenda"
                />
                <div class="card-body">
                  <h5 class="card-title">Ararendá</h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img
                  src="../../../uploads/Brasao_crateus.png"
                  class="d-block w-100"
                  alt="crateus"
                />
                <div class="card-body">
                  <h5 class="card-title">Crateús</h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img
                  src="../../../uploads/Brasao_independencia.png"
                  class="d-block w-100"
                  alt="independencia"
                />
                <div class="card-body">
                  <h5 class="card-title">Independencia</h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img
                  src="../../../uploads/Brasao_ipaporanga.png"
                  class="d-block w-100"
                  alt="ipaporanga"
                />
                <div class="card-body">
                  <h5 class="card-title">Ipaporanga</h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img
                  src="../../../uploads/Brasao_ipueiras.png"
                  class="d-block w-100"
                  alt="ipueiras"
                />
                <div class="card-body">
                  <h5 class="card-title">Ipueiras</h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img
                  src="../../../uploads/Brasao_monsenhor tabosa.png"
                  class="d-block w-100"
                  alt="monsenhor_tabosa"
                />
                <div class="card-body">
                  <h5 class="card-title">Monsenhor Tabosa</h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img
                  src="../../../uploads/Brasao_nova russas.png"
                  class="d-block w-100"
                  alt="nova_russas"
                />
                <div class="card-body">
                  <h5 class="card-title">Nova Russas</h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img
                  src="../../../uploads/Brasao_novo oriente.png"
                  class="d-block w-100"
                  alt="novo_oriente"
                />
                <div class="card-body">
                  <h5 class="card-title">Novo Oriente</h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img
                  src="../../../uploads/Brasao_poranga.png"
                  class="d-block w-100"
                  alt="poranga"
                />
                <div class="card-body">
                  <h5 class="card-title">Poranga</h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img
                  src="../../../uploads/Brasao_quiterianopolis.png"
                  class="d-block w-100"
                  alt="quiterianopolis"
                />
                <div class="card-body">
                  <h5 class="card-title">Quiterianopolis</h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img
                  src="../../../uploads/Brasao_tamboril.png"
                  class="d-block w-100"
                  alt="tamboril"
                />
                <div class="card-body">
                  <h5 class="card-title">Tamboril</h5>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <%- include("../../partialViews/footer"); %>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/script/user/global/global.js"></script>
  </body>

  <style>
    .carousel-inner {
      padding: 1em;
    }
    .card {
      margin: 0 0.5em;
      box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
      border: none;
    }
    .carousel-control-prev,
    .carousel-control-next {
      background-color: #e1e1e1;
      width: 6vh;
      height: 6vh;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
    @media (min-width: 768px) {
      .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
      }
      .carousel-inner {
        display: flex;
      }
    }
    .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card img {
      max-height: 100%;
    }
    @media (max-width: 767px) {
      .card .img-wrapper {
        height: 17em;
      }
    }
  </style>
</html>
